{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "sc", "1",
        [
         kernel,
         stdlib,
         sasl,
         sc
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sc"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, sc, [{incl_cond, include}]}
      ]}.

{target_dir, "sc"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/sc", "bin/sc"},
           {template, "files/sc-admin", "bin/sc-admin"}
           ]}.
